

h1 {
    color: #333;
}

.player {
    margin: 20px;
    padding: 10px;
    border: 200px solid #ccc;


}
div 
{
    padding: 4px;
    width: 135px ;
    text-align: center
    ;
}
.black {
    display: inline-block;
    color: #000000;
   
    margin: 10px;
    background-color: #eaeaea;
    font-size: 50px;
}

.red {
    display: inline-block;
    color: #ff0000;
    margin: 10px;
    background-color: #eaeaea;
    font-size: 50px;
}
